* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header {
	width:100%;	
}
header h1 {
  font-size:3em;
  text-align: center;
}

footer {
  width:100%;
  background:#373737;
  height:200px;
}
footer p {
  font-size:1.2em;
  color:#eee;
  text-align:center;
   line-height:200px;
}
a img{
	display:inline-block;
	
	margin-bottom:0.8em;
}
img:hover{
	border:1px solid blue;
	
}

p {
	font-family: "Malgun Gothic",Georgia, serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
	background-color: #EAEDED ;
}





@media all and (min-width:768px) {
  
  }



@media all and (min-width:992px) {
 
  
}